@import "tailwindcss";
:root{
    --bg-main: rgb(240, 236, 232);
    --bg-secondary: rgb(82, 57, 243);
    --bg-secondary-shading: rgb(64, 45, 187);
    --bg-current: white;
    --minucious-primary-color: #c4c4c4;
    --minucious-secondary-color: rgb(233, 233, 233);
    --destac-color: rgb(116, 112, 139);
    --text: black;
}
.dark{
    --bg-main: rgb(16, 16, 20);
    --bg-secondary: #432dd7;
    --bg-secondary-shading: rgb(64, 45, 187);    
    --bg-current: rgb(10, 10, 12);
    --minucious-primary-color: rgb(34, 38, 48);
    --minucious-secondary-color: rgb(20, 22, 36);
    --destac-color: rgb(137, 132, 165);
    --text: rgb(226, 226, 226);
}
*{
    color: var(--text);
}
body{
     background-color: var(--bg-main);
}
