@import "tailwindcss";
:root{
    --bg-main: rgb(201, 187, 172);
    --bg-secondary: rgb(82, 57, 243);
    --bg-secondary-shading: rgb(64, 45, 187);
    --bg-current: white;
    --minucious-primary-color: rgb(196, 196, 196);
    --minucious-secondary-color: rgb(233, 233, 233);
    --text: black;
}
.dark{
    --bg-main: rgb(201, 187, 172);
    --bg-secondary: #432dd7;
    --bg-secondary-shading: rgb(64, 45, 187);    
    --bg-current: black;
    --minucious-primary-color: rgb(23, 26, 36);
    --minucious-secondary-color: rgb(20, 22, 36);
    --text: rgb(226, 226, 226);
}
*{
    color: var(--text);
}
.main-container{
    background-color: var(--bg-main);
}
